<form>
    <h2 class="text-center">Alumnos</h2>

    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="mb-3 form-group">
                <label for="name" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="name" name="name" formControlName="name">
            </div>
            <div class="mb-3 form-group">
                <label for="lastName" class="form-label">Apellido</label>
                <input type="text" class="form-control" id="lastName" name="lastName" formControlName="lastName">
            </div>
            <div class="mb-3 form-group">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" placeholder="enter email">
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3 form-group">
                <label for="password" class="form-label">Contraseña</label>
                <input type="password" class="form-control" id="password">
            </div>
            <!-- <div class="mb-3 form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div> -->
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>

</form>