<form [formGroup]="formUser" (ngSubmit)="enviarForm()">
    <h2 class="text-center">Alumnos</h2>

    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="mb-3 form-group">
                <label for="name" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="name" formControlName="nombre">
                <div class="alert alert-danger mt-2" *ngIf="nombre.touched && nombre.errors?.['required']">
                    El nombre en obligatorio
                </div>
            </div>
            <div class="mb-3 form-group">
                <label for="lastName" class="form-label">Apellido</label>
                <input type="text" class="form-control" id="lastName" name="lastName" formControlName="apellido">
                <div class="alert alert-danger mt-2" *ngIf="apellido.touched && apellido.errors?.['required']">
                    El apellido en obligatorio
                </div>
            </div>
            <div class="mb-3 form-group">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" formControlName="email">
                <div class="alert alert-danger mt-2" [hidden]="email.valid || !email.touched">
                    <span *ngIf="email.errors?.['required']">
                        El email es obligatorio
                    </span>
                    <span *ngIf="email.errors?.['email']">
                        formato inválido
                    </span>

                </div>
            </div>
            <div class="mb-3 form-group">
                <label for="postalcode" class="form-label">Código postal</label>
                <input type="number" class="form-control" id="postalcode" name="postalcode" formControlName="codigoPostal">
                <div class="alert alert-danger mt-2" *ngIf="cp.touched && cp.errors?.['required']">
                    El código postal en obligatorio
                </div>

            </div>
            

            <div class="d-grid gap-2 d-md-flex">
                <button class="btn btn-primary" [disabled]="formUser.invalid" onclick="alert('Formulario enviado!')">
                    Enviar
                </button>
                <button class="btn btn-secondary" type="reset" (click)="limpiarForm()">
                    Limpiar
                </button>
            </div>
        </div>
    </div>

</form>